 @import "style";

 $amabille: red;
 $cor-legal: #BADA55;
 $preto: white;

 body{
    background-color: $amabille;
 }

@mixin alimentos{
    border: solid 1px $cor-legal;
    p{
        color: $preto;
    }
    &:hover{
        background-color: bisque;
    }
}

#batata{
    @include alimentos;
}

#legumes{
    @include alimentos;
}